<div class="carousel__container">
  <ul class="track">
  
  <li class="card ">
      <div class="image ">
        <mat-icon
          class="icon-pic"
          aria-hidden="false"
          aria-label="Example chevrone right"
          >phone</mat-icon
        >
      </div>
      <div class="text">Mobile internet</div>
      <div type="button" class="link-button hidden">
        <div>Start</div>
        <div>
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Example chevrone right"
            >keyboard_arrow_right</mat-icon
          >
        </div>
	  </div>
	  <div class="active__link"></div>
    </li>

    <li class="card">
      <div class="image">
        <mat-icon
          class="icon-pic"
          aria-hidden="false"
          aria-label="Example chevrone right"
          >home</mat-icon
        >
      </div>
      <div class="text">Home internet</div>
      <div type="button" class="link-button hidden">
        <div>Home</div>
        <div>
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Example chevrone right"
            >keyboard_arrow_right</mat-icon
          >
        </div>
	  </div>
	  <div class="active__link"></div>
    </li>
    <li class="card active current__slide">
      <div class="image">
        <mat-icon
          class="icon-pic"
          aria-hidden="false"
          aria-label="Example chevrone right"
          >phone_android</mat-icon
        >
      </div>
      <div class="text">Get a device</div>
      <div type="button" class="link-button hidden">
        <div>Start here</div>
        <div>
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Example chevrone right"
            >keyboard_arrow_right</mat-icon
          >
        </div>
	  </div>
	  <div class="active__link"></div>
    </li>
    <li class="card">
      <div class="image">
        <mat-icon
          class="icon-pic"
          aria-hidden="false"
          aria-label="Example chevrone right"
          >support_agent</mat-icon
        >
      </div>
      <div class="text">Add a phone-line</div>
      <div type="button" class="link-button hidden">
        <div>Add line</div>
        <div>
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Example chevrone right"
            >keyboard_arrow_right</mat-icon
          >
        </div>
	  </div>
	  <div class="active__link"></div>
    </li>
    <li class="card">
      <div class="image">
        <mat-icon
          class="icon-pic"
          aria-hidden="false"
          aria-label="Example chevrone right"
          >upgrade</mat-icon
        >
      </div>
      <div class="text">Upgrade</div>
      <div type="button" class="link-button hidden">
        <div>Upgrade</div>
        <div>
          <mat-icon
            class="icon"
            aria-hidden="false"
            aria-label="Example chevrone right"
            >keyboard_arrow_right</mat-icon
          >
        </div>
	  </div>
	  <div class="active__link"></div>
    </li>
  </ul>
  <div class="question">
    <p>
      What are you <br />
      <span>here to do?</span>
    </p>
  </div>

  <button type="button" class="button_prev">
    <mat-icon aria-hidden="false" aria-label="Example chevrone right"
      >keyboard_arrow_left</mat-icon
    >
  </button>
  <button type="button" class="button_next">
    <mat-icon aria-hidden="false" aria-label="Example chevrone right"
      >keyboard_arrow_right</mat-icon
    >
  </button>
</div>
