* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: Roboto, sans-serif;
  background: #e2e0e0;
}

main {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  /* overflow-x: scroll; */
}

.cell {
  /* position: absolute; */
  top: 0;
  left: 0;
  min-width: 200px;
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  user-select: none;
  height: 284px;
  transform-origin: center bottom;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid rgba(150, 150, 150, 0.08);
  border-radius: 16px 16px 12px 12px;
  background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.cell-active {
  top: 0;
  left: 0;
  min-width: 368px;
  font-size: 26px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  user-select: none;
  height: 556px;
  transform-origin: center bottom;
  margin: 10px 10px;
  box-sizing: border-box;
  border: 2px solid rgba(150, 150, 150, 0.08);
  border-radius: 16px 16px 12px 12px;
  background: linear-gradient(180deg, #ffffff 0%, #ebebeb 100%);
  border-bottom: 8px solid #ffc300;
  text-align: center;
}
.cell-active:hover {
  box-sizing: border-box;
  height: 556px;
  width: 368px;
  border: none;
  border-radius: 16px 16px 12px 12px;
  background: linear-gradient(180deg, #373737 0%, #191919 100%);
  border-bottom: 8px solid #ffc300;
  color: #fff !important;
}

.cell-active:hover .get-device {
  color: #fff;
}
.cell-active:hover .start-here {
  color: #fff;
}
.picker {
  position: relative;
  min-width: 66vw;
  height: 57vh;
  border-radius: 2px;
  background-color: #fff;
  /* overflow-x: scroll; */
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

.get-device-small {
  color: #232323;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 24px;
  text-align: center;
  width: 110px;
  margin: auto;
  margin-top: 44px;
}

.arrows-container {
  width: 100%;
}
.left-arrow {
  float: left;
  position: relative;
  bottom: 156px;
  left: 30%;
}
.right-arrow {
  float: right;
  position: relative;
  bottom: 156px;
  right: 30%;
}
button {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #232323;
  border: none;
  color: #fff;
}
button:hover {
  background-color: #ffc300;
}
